/* Base reset */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Lalezar', cursive;
}
html {
    scroll-behavior: smooth
}
#nav-bar {
    display: flex;
    background-color: #4769D7;
    position: fixed;
    width: 100%;
    font-family: 'Lalezar', cursive;
    font-size: 1.2rem;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 5;
}

#nav {
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
}

.push {
    margin-left: auto;
}

#nav li {
    list-style: none;
    align-self: center;
}
#nav a {
    display: block;
    padding: 1.5rem;
    color: #E9EEF2;
}
#nav li:hover {
    background-color: #55D09B;
    cursor: pointer;
}
#logo-text {
    margin: auto 25px;
    font-family: 'Lalezar', cursive;
    font-size: 1.4rem;
    color: #E9EEF2;
}
#logo-img {
    width: 45px;
    margin-left: 30px;
}
.overlay {
    display: none;
}
#overlay-hamburger {
    display: none;
}
#welcome-section {
    
    background-color: #E9EEF2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#profile1 {
    height: 351px;
    width: auto;
    align-self: center;
    z-index: 10;
    box-shadow: 6px 6px 14px 0px rgba(0,0,0,0.73);
}
#section-container {
    display: flex;
    justify-content: center;
    min-height: 82.5vh;
}

#icons-container {
    display: flex;
    flex-direction: row;
}


#icons-container li {
    list-style: none;
}

#intro-container {
    align-self: center;
}

#intro-1 {
    font-size: 3rem;
    margin-left: 20px;
}
#intro-2 {
    color: #4769D7;
    font-size: 3.5rem;
    margin-left: 20px;
}
#intro-3 {
    margin-left: -425px;
    background-color: #55D09B;
    width: 1000px;
    height: 80px;
    border-radius: 15px;
    z-index: 1;
}
#intro-4 {
    position: relative;
    top: -60px;
    font-size: 1.7rem;
    margin-left: 40px;
}
.icon-sizing {
    height: 35px;
    margin-left: 30px;
}
#index-bottom {
    width: 100%;
    justify-content: flex-end;
}


#work-section {
    min-height: 100vh;
    background-image: url("assets/work-background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    
}